In [ ]:
ОСТАЛОСЬ РЕШИТЬ: 24, 25, 27

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1154,tt0340855,8000000,60378584,Monster,Charlize Theron|Christina Ricci|Bruce Dern|Lee...,Patty Jenkins,Based on a true story.,Aileen Wuornos is an emotionally scarred highw...,110,Crime|Drama,Newmarket Films,11/16/2003,6.8,2003
777,tt1092026,40000000,97552050,Paul,Seth Rogen|Simon Pegg|Nick Frost|Jason Bateman...,Greg Mottola,Who's up for a close encounter?,"For the past 60 years, a space-traveling smart...",104,Adventure|Comedy|Science Fiction,Universal Pictures|Big Talk Productions|Relati...,2/14/2011,6.4,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [240]:
answers = {} # создадим словарь для ответов

data['profit'] = data.revenue - data.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [241]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' 

data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [242]:
answers['2'] = '2. Gods and Generals (tt0279111)'

data.runtime.dtype  #this is how to check data type in a column (my notes)

data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [243]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [244]:
answers['4'] = '2. 110'

a = data.runtime.mean()
round(a, 0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [245]:
answers['5'] = '1. 107'

b = data.runtime.median()
round(b, 0)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [246]:
answers['6'] = '5. Avatar (tt0499549)'

data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [247]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [248]:
answers['8'] = '1. 1478'

len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [249]:
answers['9'] = '4. The Dark Knight (tt0468569)'

data1 = data[data.release_year == 2008]
data1[data1.revenue == data1.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [250]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

data1 = data[(data.release_year == 2012) | (data.release_year == 2013) | (data.release_year == 2014)]
data1[data1.profit == data1.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [251]:
answers['11'] = '3. Drama'

list_genres = data['genres'].str.cat(sep = '|').split("|")  #Разделяем жанры фильмов.
series_genres = pd.Series(list_genres)
series_genres.value_counts().head(1)  #Считаем сколько раз каждый жанр встречался в фильмах; выводим самый популярный.

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [252]:
answers['12'] = '1. Drama' 

data_pr = data[data.profit > 0]  #Определяем понятие прибыльности

list_genres = data_pr['genres'].str.cat(sep = '|').split("|")  #Разделяем жанры фильмов.
series_genres = pd.Series(list_genres)
series_genres.value_counts().head(1)  #Считаем сколько раз встретился каждый жанр; выводим самый популярный.

Drama    560
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [253]:
answers['13'] = '5. Peter Jackson'

data.groupby(['director']).revenue.sum().sort_values(ascending = False).head(1)  
#Группируем по режиссеру, считаем сумму кассовых сборов его фильмов, сортируем по убыванию.

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [254]:
answers['14'] = '3. Robert Rodriguez' 

data_act = data[data.genres.str.contains('Action')]  
#В отедельный df отфильтровываем все фильмы, где в переменной "genres" хотя бы раз встречалось "Action".

data_act.groupby(['director']).imdb_id.count().sort_values(ascending=False)
#Robert Rodriguez, поскольку первых двух режиссеров нет в вариантах ответа

director
Michael Bay           7
Paul W.S. Anderson    7
Robert Rodriguez      6
Ridley Scott          6
Antoine Fuqua         6
                     ..
Les Mayfield          1
Kurt Wimmer           1
Kevin Smith           1
Kevin Macdonald       1
Adam McKay            1
Name: imdb_id, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [255]:
answers['15'] = '3. Chris Hemsworth'  # код заимствован со Slack, сохранила как рабочий пример.

data2012 = data[data.release_year == 2012]

data2012['actor'] = data2012['cast'].apply(lambda c: c.split(sep = '|')) 

data_to_work = data2012[['actor', 'revenue']]

data_new = data_to_work.explode('actor')

needed_df = (data_new.groupby('actor')['revenue']  #Группируем по студии
                            .apply(lambda x: np.sum(x))  #Считаем среднюю длину названия (в буквах)
                            .reset_index(name='total_revenue')  #Переименовываем колонку
                            .sort_values(ascending = False, by = 'total_revenue'))  #Сортируем

needed_df.head(1)

C:\Users\Ksenia\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

              actor  total_revenue
77  Chris Hemsworth     2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [256]:
answers['16'] = '3. Matt Damon'  

high_budget = data[data.budget > data.budget.mean()]  #Определяем высокобюджетные фильмы

list_actors = high_budget['cast'].str.cat(sep = '|').split("|")  #Разделяем актеров в этих фильмах
series_actors = pd.Series(list_actors)
series_actors.value_counts().head(1)  #Считаем, сколько раз какой актер встречался в разных фильмах

Matt Damon    18
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [257]:
answers['17'] = '2. Action'  

data_Cage = data[data.cast.str.contains('Nicolas Cage')]  #Отфильтровываем все фильмы с Nicolas Cage

list_genres = data_Cage['genres'].str.cat(sep = '|').split("|")  #Разделяем жанры у фильмов с Nicolas Cage
series_genres = pd.Series(list_genres)
series_genres.value_counts().head(1)  #Считаем какого жанра больше всего

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [258]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

paramount = data[data.production_companies.str.contains('Paramount Pictures')]  
#Отфильтровываем все фильмы, в создании которых участвовала нужная студия

paramount[paramount.profit == paramount.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [259]:
answers['19'] = '5. 2015'

data.groupby(['release_year']).revenue.sum().sort_values(ascending = False).head(1)
#Группируем по году выхода фильма, подсчитываем суммарные кассовые сборы по каждому году, сортируем.

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [260]:
answers['20'] = '1. 2014'

data[data.production_companies.str.contains('Warner Bros')].\
groupby(['release_year']).profit.sum().sort_values(ascending = False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [261]:
answers['21'] = '4. Сентябрь'

data['month'] = data['release_date'].apply(lambda d: d.split('/')[0])  
#Создаем новую переменную month, куда записываем трансформированную переменную release_date
#Трансформация: разделяем по "/" и берем первый (по индексу нулевой) элемент даты - это месяц.

data.groupby(['month']).imdb_id.count().sort_values(ascending=False).head(1)  #9th month is September

month
9    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [262]:
answers['22'] = '2. 450'

data['month'] = data['release_date'].apply(lambda d: d.split('/')[0])

data[(data.month == '6') | (data.month == '7') | (data.month == '8')].imdb_id.count()  #6 = june, 7 = july, 8 = august

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [263]:
answers['23'] = '5. Peter Jackson'

data_winter = data[(data.month == '12')|(data.month == '1')|(data.month == '2')]  #12 = december, 1 = january, 2 = february

data_winter.groupby(['director']).original_title.count().sort_values(ascending = False).head(1)

director
Peter Jackson    7
Name: original_title, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [264]:
answers['24'] = '5. Four By Two Productions'

data['prod_companies'] = data['production_companies'].apply(lambda c: c.split(sep = '|')) 
#Разделяем компании

data_to_work = data[['original_title', 'prod_companies']]  #Работаем только с двумя нужными колонками

data_new = data_to_work.explode('prod_companies')  
#Для каждой студии создаем новую строчку, где дублируем название фильма, в создании которого она участвовала

needed_df = (data_new.groupby('prod_companies')['original_title']  #Группируем по студии
                            .apply(lambda x: np.mean(x.str.len()))  #Считаем среднюю длину названия (в буквах)
                            .reset_index(name='mean_len_of_title')  #Переименовываем колонку
                            .sort_values(ascending = False, by = 'mean_len_of_title'))  #Сортируем

needed_df.head(1)

              prod_companies  mean_len_of_title
583  Four By Two Productions               83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [265]:
answers['25'] = '3. Midnight Picture Show'  

data['prod_companies'] = data['production_companies'].apply(lambda c: c.split(sep = '|')) 

data_to_work = data[['overview', 'prod_companies']]

data_new = data_to_work.explode('prod_companies')

needed_df = (data_new.groupby('prod_companies')['overview']  #Группируем по студии
                            .apply(lambda x: x.str.split().str.len().mean())  #Считаем среднюю длину описания фильма (в словах)
                            .reset_index(name='mean_overview_in_words')
                            .sort_values(ascending = False, by = 'mean_overview_in_words'))

needed_df.head(1)

             prod_companies  mean_overview_in_words
1041  Midnight Picture Show                   175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [266]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

data[data.vote_average > data.vote_average.quantile(0.99)].sort_values('vote_average', ascending = False)
#используем понятие квантиля для нахождения 1% самый лучший фильмов (по рейтингу)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title,month,prod_companies,cast_new,actor
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,15,7,"[DC Comics, Legendary Pictures, Warner Bros., ...","[Christian Bale, Michael Caine, Heath Ledger, ...","[Christian Bale, Michael Caine, Heath Ledger, ..."
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,10,6,"[Walt Disney Pictures, Pixar Animation Studios...","[Amy Poehler, Phyllis Smith, Richard Kind, Bil...","[Amy Poehler, Phyllis Smith, Richard Kind, Bil..."
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,4,10,"[Element Pictures, No Trace Camping, A24, Dupe...","[Brie Larson, Jacob Tremblay, Joan Allen, Sean...","[Brie Larson, Jacob Tremblay, Joan Allen, Sean..."
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,12,11,"[Paramount Pictures, Legendary Pictures, Warne...","[Matthew McConaughey, Jessica Chastain, Anne H...","[Matthew McConaughey, Jessica Chastain, Anne H..."
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,18,11,"[Black Bear Pictures, Bristol Automotive]","[Benedict Cumberbatch, Keira Knightley, Matthe...","[Benedict Cumberbatch, Keira Knightley, Matthe..."
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,23,7,"[Marvel Studios, Moving Picture Company (MPC),...","[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...","[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ..."
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,9,10,"[Twentieth Century Fox Film Corporation, Regen...","[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...","[Ben Affleck, Rosamund Pike, Carrie Coon, Neil..."
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,24,2,"[Fox Searchlight Pictures, Scott Rudin Product...","[Ralph Fiennes, Tony Revolori, F. Murray Abrah...","[Ralph Fiennes, Tony Revolori, F. Murray Abrah..."
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,9,7,"[Legendary Pictures, Warner Bros., Syncopy]","[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...","[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle..."
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,11,9,"[Bac Films, Canal+Polska, Heritage Films, Stud...","[Adrien Brody, Thomas Kretschmann, Frank Finla...","[Adrien Brody, Thomas Kretschmann, Frank Finla..."
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,45,12,"[WingNut Films, New Line Cinema]","[Elijah Wood, Ian McKellen, Viggo Mortensen, L...","[Elijah Wood, Ian McKellen, Viggo Mortensen, L..."
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,23,12,"[Paramount Pictures, Appian Way, EMJAG Product...","[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...","[Leonardo DiCaprio, Jonah Hill, Margot Robbie,..."
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,16,10,"[Plan B Entertainment, Regency Enterprises, Ri...","[Chiwetel Ejiofor, Michael Fassbender, Lupita ...","[Chiwetel Ejiofor, Michael Fassbender, Lupita ..."
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,7,10,"[Summit Entertainment, Newmarket Capital Group...","[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...","[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,..."

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [287]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

c = Counter()
for film_actors in data['cast']:
    artists = film_actors.split('|')
    for j in list(itertools.combinations(artists, 2)):
        if j not in c:
            c[j] = 1
        else:
            c[j] += 1
c.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [288]:
# ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [289]:
# и убедиться что ни чего не пропустил) 27
len(answers)

27